<div class="title">
    <h2>
        Book
        With Us
    </h2>
</div>
<div class="cards container">
    <div class="card" style="background-image: url(/img/supercar.png);">
        <p>SUPERCARS</p>
        <div class="rhombus">
            <img class="rhombus-bacground" src="/img/bg-rhubmus.svg" alt="">
            <div class="rhombus-fill">
            </div>
        </div>
    </div>
    <div class="card" style="background-image: url(/img/hotel.png);">
        <p>HOTELS</p>
        <div class="rhombus">
            <img class="rhombus-bacground" src="/img/bg-rhubmus.svg" alt="">
            <div class="rhombus-fill">
            </div>
        </div>
    </div>
    <div class="card" style="background-image: url(/img/vila.png);">
        <p>VILLAS</p>
        <div class="rhombus">
            <img class="rhombus-bacground" src="/img/bg-rhubmus.svg" alt="">
            <div class="rhombus-fill">
            </div>
        </div>
    </div>
    <div class="card" style="background-image: url(/img/yacht.png);">
        <p>YACHTS</p>
        <div class="rhombus">
            <img class="rhombus-bacground" src="/img/bg-rhubmus.svg" alt="">
            <div class="rhombus-fill">
            </div>
        </div>
    </div>
    <div class="card" style="background-image: url(/img/helicopter.png);">
        <p>PRIVATE <br> HELICOPTER</p>
        <div class="rhombus">
            <img class="rhombus-bacground" src="/img/bg-rhubmus.svg" alt="">
            <div class="rhombus-fill">
            </div>
        </div>
    </div>
    <div class="card" style="background-image: url(/img/jet.png);">
        <p>PRIVATE <br> JET</p>
        <div class="rhombus">
            <img class="rhombus-bacground" src="/img/bg-rhubmus.svg" alt="">
            <div class="rhombus-fill">
            </div>
        </div>
    </div>
</div>