.title {
  max-width: 214px;
  margin-right: 135px;
  h2 {
    color: #0c0b10;
    font-weight: 400;
    font-size: 60px;
    line-height: 58px;
  }
  button {
    margin-top: 30px;
    width: 140px;
    height: 38px;
    background: transparent;
    border: 0.6px solid #0c0b10;
    border-radius: 61px;
  }
}
.container {
  margin-top: 245px;
}

.first-row,
.second-row {
  display: flex;
  gap: 31px;
  height: fit-content;
  align-items: start;
  width: 100%;
}
.second-row {
  margin-top: 32px;
}
.card {
  max-width: 350px;
  width: 100%;
  height: 570px;
  text-align: center;
  transition: 0.3s;
  h3 {
    font-weight: 400;
    font-size: 36px;
    line-height: 98.5%;
  }
}
.card:hover {
  transform: scale(1.03);
}
.card:nth-child(3) {
  margin-top: -119px;
}
.second-row {
  .card:nth-child(1) {
    margin-top: -151px;
  }
}
.text-container {
  margin: 67px auto;
  max-width: 251px;
  color: #ffff;
}
.rhombus {
  margin: 97px auto;
  position: relative;
}
.rhombus-bacground {
  position: relative;
}
.rhombus-fill {
  width: 121px;
  height: 231px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  background: rgba(144, 144, 144, 0.14);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rhombus-text {
  p:nth-child(1) {
    color: #ffff;
    font-size: 35px;
    font-weight: 400;
    line-height: 98.5%;
  }
  p:nth-child(2) {
    color: #ffff;
    font-size: 21px;
    font-weight: 400;
    line-height: 98.5%;
    margin-bottom: 9px;
  }
}
