<div class="bacground-container">
    <img class="Vector" src="/img/Vector.svg" alt="rhombus">
    <img class="Vector" src="/img/Vector-1.svg" alt="rhombus">
    <img class="Vector" src="/img/Vector-2.svg" alt="rhombus">
    <img class="Vector" src="/img/Vector-3.svg" alt="rhombus">
    <img class="Vector" src="/img/Vector-4.svg" alt="rhombus">
    <div class="bacground"></div>
    <div class="bacground2">
    </div>
    <div class="bacground1"></div>
    <app-header></app-header>
    <section>
        <app-hero></app-hero>
    </section>
</div>
<section>
    <img src="/img/clouds.png" alt="cloud" class="cloud">
    <div class="gradient"></div>
    <app-rating></app-rating>
</section>
<section><app-packages></app-packages></section>