<div class="bacground">
    <div class="first-title container">
        <h3>Why
            Lux Trips</h3>
        <p>As Travel Designer, we know the ins and outs of travel from who to work with, where to go, when to book, and
            which restaurant provides the most authentic cuisine. </p>
    </div>
    <img src="/img/pin_2.png" alt="" class="pin">
    <img src="/img/pin.png" alt="" class="pin">
    <img src="/img/pin_1.png" alt="" class="pin">
    <img src="/img/pin_3.png" alt="" class="pin">
    <div class="second-title container">
        <h3>Exclusive knowledge to provide the best of the best to clients</h3>
        <p>Our area of expertise ranges from luxury resorts and villas/chalets holiday bookings, private yacht and jet
            charters, to exclusive tours and personalized journey planning. </p>
    </div>
    <div class="plan container">
        <img src="/img/plan.png" alt="">
        <div>
            <p>
                We craft and plan unique itineraries tailored to customers’ interests and with strong attention to
                detail.
            </p>
            <button>
                <span>HELP ME PLAN A TRIP</span>
            </button>
        </div>
    </div>
</div>
<div class="trip">
    <div class="text container">
        <h3>
            Customise <br>
            your trip with us
        </h3>
    </div>
    <div class="general">
        <div class="rombs">
            <div class="romb">
                <p>1</p>
            </div>
            <div class="line"></div>
            <div class="romb">
                <p>2</p>
            </div>
            <div class="line"></div>
            <div class="romb">
                <p>3</p>
            </div>
        </div>
        <div class="text-romb">
            <div class="txt">
                <p>Describe your dream trip</p>
                <p>Let us know what your perfect vacation is. Destinations, preferences, and personal interests. </p>
            </div>
            <div class="txt">
                <p>Get matched</p>
                <p>Our team will create perfect travel itinerary for you, based on your personalized needs and wishes.
                </p>
            </div>
            <div class="txt">
                <p>Book your vacation</p>
                <p>Confirm your trip only when you are completely satisfied with the proposed travel plan. </p>
            </div>
        </div>
    </div>
</div>
<div class="bg">

</div>